<!DOCTYPE HTML>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Clientes</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
crossorigin="anonymous">
 <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
 <body>
 <div class="container my-2">
 <div class="card">
 <div class="card-body">
 <div th:switch="${cliente}" class="container my-5">
 <p class="my-5">
 <a href="/app/new_cliente" class="btn btn-primary"><i
 class="fas fa-user-plus ml-2"> Agregar Cliente</i></a>
 </p>
<div class="col-md-10">
 <h2 th:case="null">No Clientes yet!</h2>
 <div th:case="*">
 <table class="table table-striped table-responsive-md">
 <thead>
 <tr>
 <th>Identificación</th>
 <th>Nombre</th>
 <th>Apellido</th>
<th>Direccion</th>
<th>Email</th>
<th>Telefono</th>
 <th>Edit</th>
 <th>Delete</th>
 </tr>
 </thead>
<tbody>
 <tr th:each="cliente : ${cliente}">

 <td th:text="${cliente.identificacionCli}"></td>
 <td th:text="${cliente.nombreCli}"></td>
 <td th:text="${cliente.apellidoCli}"></td>
 <td th:text="${cliente.direccionCli}"></td>
 <td th:text="${cliente.emailCli}"></td>
 <td th:text="${cliente.telefonCli}"></td>
 <td>
 <a
th:href="@{/app/edit/{identificacionCli}(identificacionCli=${cliente.identificacionCli})}">Edit</a>

 </td>
 <td>
 <a th:href="@{/app/delete/{identificacionCli}(identificacionCli=${cliente.identificacionCli})}">Delete</a>
 </td>
 </tr>
 </tbody>
 </table>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
</body>
</html>
